[package]
name = "io-enum"
version = "0.2.2"
authors = ["Taiki Endo <te316e89@gmail.com>"]
edition = "2018"
license = "Apache-2.0 OR MIT"
repository = "https://github.com/taiki-e/io-enum"
homepage = "https://github.com/taiki-e/io-enum"
documentation = "https://docs.rs/io-enum/"
keywords = ["io", "derive", "enum"]
categories = ["rust-patterns"]
readme = "README.md"
description = """
#[derive(Read, Write, Seek, BufRead)] for enums.
"""

[workspace]

[lib]
proc-macro = true

[features]

[dependencies]
derive_utils = "0.9"
quote = "1.0"
syn = "1.0"
